services:
  jupyterhub:
    image: quay.io/jupyterhub/jupyterhub
    command: jupyterhub -f /etc/jupyterhub/jupyterhub_config.py
    volumes:
      - ./volumes/jupyterhub:/etc/jupyterhub
    ports:
      - 8000:8000
    networks:
      - mlops
    restart: unless-stopped

networks:
  mlops:
    driver: bridge
