services:
  jupyterlab:
    image: jupyter/datascience-notebook:code-server
    build:
      context: jupyterlab
      dockerfile: Dockerfile
    entrypoint: /bin/true
    restart: no

  jupyterhub:
    image: jupyterhub
    build:
      context: jupyterhub
      dockerfile: Dockerfile
    environment:
      - TZ=Asia/Shanghai
      - JUPYTERHUB_DOCKER_NETWORK_NAME=${JUPYTERHUB_DOCKER_NETWORK_NAME}
      - JUPYTERHUB_DOCKER_NOTEBOOK_DIR=${JUPYTERHUB_DOCKER_NOTEBOOK_DIR}
      - JUPYTERHUB_DOCKER_DATALAKE_DIR=${JUPYTERHUB_DOCKER_DATALAKE_DIR}
      - JUPYTERHUB_OAUTH_AUTHORIZE_URL=${JUPYTERHUB_OAUTH_AUTHORIZE_URL}
      - JUPYTERHUB_OAUTH_CALLBACK_URL=${JUPYTERHUB_OAUTH_CALLBACK_URL}
      - JUPYTERHUB_OAUTH_TOKEN_URL=${JUPYTERHUB_OAUTH_TOKEN_URL}
      - JUPYTERHUB_OAUTH_USERDATA_URL=${JUPYTERHUB_OAUTH_USERDATA_URL}
      - JUPYTERHUB_OAUTH_CLIENT_ID=${JUPYTERHUB_OAUTH_CLIENT_ID}
      - JUPYTERHUB_OAUTH_CLIENT_SECRET=${JUPYTERHUB_OAUTH_CLIENT_SECRET}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./volumes/jupyterhub/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py:ro
    ports:
      - 8000
    networks:
      - mlops
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/hub/login"]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      keycloak:
        condition: service_healthy
        restart: true
      jupyterlab:
        condition: service_completed_successfully
    deploy:
      replicas: 1
    restart: unless-stopped

  keycloak:
    image: keycloak/keycloak:healthcheck
    build:
      context: keycloak
      dockerfile: Dockerfile
    command: start-dev
    environment:
      - TZ=Asia/Shanghai
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KC_HEALTH_ENABLED=${KC_HEALTH_ENABLED}
      - KC_METRICS_ENABLED=${KC_METRICS_ENABLED}
      - KC_HTTP_RELATIVE_PATH=${KC_HTTP_RELATIVE_PATH}
    volumes:
      - keycloak:/opt/keycloak/data/h2
    ports:
      - 8080
    networks:
      - mlops
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/sso/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      database:
        condition: service_healthy
        restart: true
    restart: unless-stopped

  database:
    image: postgres:alpine
    shm_size: 128mb
    environment:
      - TZ=Asia/Shanghai
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - mlops
    restart: always

  nginx:
    image: nginx:alpine
    environment:
      - TZ=Asia/Shanghai
      - SERVER_NAME=${KC_HOSTNAME}
    volumes:
      - ./volumes/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - .secrets/certs/:/etc/nginx/certs/:ro
    ports:
      - 80:80
      - 443:443
    networks:
      - mlops
    depends_on:
      jupyterhub:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    restart: always

  ## 如果需要使用watchtower自动更新镜像，请取消注释以下内容
  # watchtower:
  #   image: containrrr/watchtower
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - TZ=Asia/Shanghai
  #     - WATCHTOWER_LABEL_ENABLE=true
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=true
  #   restart: unless-stopped

volumes:
  keycloak:
    driver: local

networks:
  mlops:
    driver: bridge
